<div id="movie_genres" class="d-flex mb-5 justify-content-between">
  <h3> Gêneros </h3>
 <%= link_to '+ Novo', new_movie_genre_path, class: "btn btn-primary" %>
</div>
<table class="table">
  <thead>
    <tr>
      <th class="col-md-3" scope="col">Nome</th>
      <th class="col-md-3" scope="col">Criado em</th>
      <th class="col-md-3" scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @movie_genres.each do |movie_genre| %>
      <%= render movie_genre %>
    <% end %>
  </tbody>
</table>




